{% block RepositoryImplementationCategoryItem %}
    <li class="dropdown {% if SELECTED %} active {% endif %}">

        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">
            {#  #}
            {% if IMAGE %}
                <img class="chamilo-menu-item-icon chamilo-menu-item-image-with-label"
                     src="{{ IMAGE|raw }}" title="{{ TITLE }}" alt="{{ TITLE }}"/>
            {% endif %}

            {% if LABEL %}
                <div class="chamilo-menu-item-label chamilo-menu-item-label-with-image">{{ TITLE }}</div>
            {% endif %}
            <div class="clearfix"></div>
        </a>

        {{ REPOSITORYSUBMENU|raw }}

    </li>
{% endblock %}